<!DOCTYPE html>
<html>

<head>
    <style>
        body{

        }
        div > * {
            margin: 10px;
            font-size: 14px;
        }

        #btnSave {
            min-width: 80px;
            min-height: 30px; 
        }

        .sample{
            color: red;
        }
    </style>
</head>

<body>

    <h2>Input the name of the domain you want to clean the cookie</h2>
    <h3 class="sample">ex. medium.com</h3>
    <div>
        <label for="txtDomainName">Website Domain:</label>
        <input id="txtDomainName" type="text" autofocus>
    </div>
    <div>
        <button id="btnSave">Save</button>
    </div>
</body>
<script src="options.js"></script>

</html>