<!doctype html>
<html>

<head>
    <title>Cookie Cleaner</title>
    <script src="popup.js"></script>
    <style> 
        section > * {
            margin: 10px;
            font-size: 14px;
        }

        button {
            min-width: 80px;   
            min-height: 30px; 
        }
    </style>
</head>

<body>
    <section>
        <h5>Cookie Cleaner</h5>
        <button id="btnClean">Clean</button>
    </section>

    <section>
        <label id="txtDomainName">You need to set a website</button>
    </section>

    <section>
        <button id="btnOptions">Go Settings</button>
    </section>
</body>

</html>